--Setup the index.handlebars to have the template that Handlebars can render onto.
--Create a button in index.handlebars that will submit the user input into the database.


<div class="card" class="col-1">
    <div class="card-body">
        {{!space for uneaten burgers}}
        <ul>
            {{#each burger_name}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button type="button" class="btn btn-success" data-id="{{id}}">Devour</button>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="card" class="col-4">
    <div class="card-body">
        {{!space for devoured burgers}}
        <ul>
            {{#each burger_name}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                    <button type="button" class="btn btn-success" data-id="{{id}}">Devour</button>
               </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>


{{!html layout  of burger image, textarea, and submit button}}

 <div class="card text-center">

        <div class="card-body">
            <img class="center-block" id="burger-pic" src="public\assets\img\burger.png" alt="burger image">

            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><strong>Eat-da-Burger!</strong></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <div class = submit-button>
                    <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </form>
            <p class="card-text">Enter a burger you want to eat and click the SUBMIT button.</p>

        </div>

    </div>