
.card {
    margin: 20px;
    background-color: #ffd000;
}
.form-control {
    width: 400px;
    margin: auto
}

.submit-button {
    margin: 20px;
}

img {
    margin-top: 50px;
    width: 400px;
}

li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    font-family: sans-serif;
    list-style: none;
    }

.col-1 {
    position: absolute;
    top: 50px;
} 

.col_4 {
    position: absolute;
    top: 50px;
}